<%- include('../partials/header') %>

<h1><%= title %></h1>
<table id="list">
  <table>
    <tr>
      <th>Avatar:</th>
      <td><%= user.avatar %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th>Pet(s):</th>
      <td><%= user.pet %></td>
      <td> pet name </td>
      <td><a href=""> pet profile </a></td>
    </tr>
  </table>

<<<<<<< HEAD
          <td><a href="">Pet Profile</a></td>
=======
<<<<<<< HEAD
=======
          <td><a href="/<%= pet.id %>">Pet Profile</a></td>
>>>>>>> f91a684ce42c16ecf4c76012612ce46bb5bffaeb
        </tr>
      </tbody>
    </table>
>>>>>>> 0519ae6832e30aaec62472015502d4a20899fcdf

<%- include('../partials/footer') %>