<%- include('../partials/header') %>

<h1><%= title %></h1>
<table id="list">
    <thead>
      <tr>
        <th>Avatar:</th>
        <th>Name</th>
        <th>Email:</th>
        <th>Pet(s):</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td><%= user.avatar %></td>
        <br>
          <td><%= user.name %></td>
          <br>
          <td><%= user.email %></td>
          <br>
          <td><%= user.pet %></td>
          <br>

          <td><a href="/<%= pet.id %>">Pet Profile</a></td>
        </tr>
      </tbody>
    </table>

<%- include('../partials/footer') %>