<%- include('../partials/header') %>

<h1><%= title %></h1>
<table id="list">
  <table>
    <tr>
      <th>Avatar:</th>
      <td><img src="<%= user.avatar %>" alt="Avatar"></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th>Pet(s):</th>
      <% if (user.pet && user.pet.length > 0) { %>
        <% user.pet.forEach(function(pet) { %>
          <tr>
            <td><%= pet.name %></td>
            <td>Species: <%= pet.species %></td>
            <td>Age: <%= pet.age %></td>
            <td>Sex: <%= pet.sex %></td>
            <td><a href="/pets/<%= pet.id%>">Pet profile</a></td>
            <form action="/user/<%= pet.id %>?_method=DELETE" method="POST">
              <td><button type="submit">X</button></td>
            </form>
          </tr>
        <% }); %>
      <% } else { %>
        <tr>
          <td colspan="5">No pets found.</td>
        </tr>
      <% } %>
    </tr>
  </table>




  
        </tr>
      </tbody>
    </table>


<%- include('../partials/footer') %>