<%- include('../partials/header') %>

<h1>User Profile</h1>
<!-- <h1><%= title %></h1> -->
<table id="list">
    <thead>
      <tr>
        <th>Avatar:</th>
        <th>Name</th>
        <th>Email:</th>
        <th>Pet(s):</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td><%= user.avatar %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.pet %></td>
          <td><a href="/<%= u.id %>">Pet Profile</a></td>
        </tr>

      </tbody>
    </table>

<%- include('../partials/footer') %>