<%- include('../partials/header') %>

<h1><%= title %></h1>
<table id="list">
  <table>
    <tr>
      <th>Avatar:</th>
      <td><%= user.avatar %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th>Pet(s):</th>
      <td><%= user.pet %></td>
      <td> pet name </td>
      <td><a href=""> pet profile </a></td>
    </tr>
  </table>


<%- include('../partials/footer') %>