<%- include('../partials/header') %>

<h1>Pet's Name<h1>
<img href="">
<div>
    <h5>Birthday: </h5>
    <p><%=   %></p>
    <br>
    <h5>Age:</h5>
    <p><%=   %></p>
    <br>
    <h5>Species:</h5>
    <p><%=   %></p>
    <br>
    <h5>Sex:</h5>
    <p><%=   %></p>
    <br>
    <h5>Favorite Toy(s):</h5>
    <p><%=   %></p>  
</div>

<%- include('../partials/footer') %>