<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>
                <img href="">
                <div>
                    <table>
                        <tr>
                            <th>Name: </th>
                            <td>
                                <%= pet.name %>
                            </td>
                        </tr>
                        <tr>
                            <th>Birthday: </th>
                            <td>
                                <%= pet.birthday.toLocaleDateString() %>
                            </td>
                        </tr>
                        <tr>
                            <th>Age:</th>
                            <td>
                                <%= pet.age %>
                            </td>
                        </tr>
                        <tr>
                            <th>Species:</th>
                            <td>
                                <%= pet.species %>
                            </td>
                        </tr>
                        <tr>
                            <th>Sex:</th>
                            <td>
                                <%= pet.sex %>
                            </td>
                        </tr>
                        <tr>
                            <th>Favorite Toy(s):</th>
                            <td>
                                <%= pet.favoriteToy %>
                            </td>
                        </tr>
                            <tr>
                                <th>
                            <!-- '/:id/edit'-->
                            <a href="/pets/<%= pet.id %>/editProfile">Edit Profile</a>
                                </th>
                        </tr>
                    </table>
                </div>
                


                <!--Health Tracker FORM-->
                <div>
                    <h3 class="text-center">Health Tracker Form</h3>
                    <form action="/pets/<%= pet.id %>" method="POST" class="row g-3 text-center">
                        <div class="col-md-3">
                            <label class="form-label">Sleep(# of hours):</label>
                            <input type="number" name="sleep" class="form-control form-control-sm"> 
                        </div>
                        
                        <div class="col-md-1">
                            <label class="form-label">Exercise:</label>
                            <input type="checkbox" name="exercise" class="form-control form-control-sm">
                        </div>
                        
                        <div class="col-md-1">
                            <label class="form-label">Poo:</label>
                            <input type="checkbox" name="poo" class="form-control form-control-sm">
                        </div>
                        
                        <div class="col-md-1">
                            <label class="form-label">Eating:</label>
                            <input type="checkbox" name="eating" class="form-control form-control-sm">
                        </div>
                        
                        <div class="col-md-6">
                            <label class="form-label">Mood:</label>
                            <input type="text" name="mood" class="form-control form-control-sm">
                        </div>
                        <br>
                        <div class="col text-center ">
                            <button type="submit" class="btn btn-light btn-outline-dark btn-sm">Log Health</button>
                        </div>
                    </form>
                </div>

                

                    <!--Display Health Tracker-->
                    <!--  sleep - number, exercise - boolean(y/n), poo - boolean(y/n), eating - boolean(y/n), mood - string -->
                   <div> 
                    <h3>Health Tracker:</h3>
                    <% if (pet.health.length) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Sleep(hours)</th> 
                                    <th>Exercise</th> 
                                    <th>Poo</th> 
                                    <th>Eating</th> 
                                    <th>Mood</th> 
                                </tr>
                            </thead> 
                            <tbody>
                                <% pet.health.forEach(function(h) { %>
                                    <tr>
                                        <td><%= h.createdAt.toLocaleDateString() %></td>
                                        <td><%= h.sleep %> hours </td>
                                        <td><%= h.exercise %></td>
                                        <td><%= h.poo %></td>
                                        <td><%= h.eating %></td>
                                        <td><%= h.mood %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h5>No Health Data Yet</h5>
                            <% } %>
                </div>

                <%- include('../partials/footer') %>